node_modules/
etc/webpack-assets.json
public/static/build/
public/static/config.js
server/buildServer/
server/logs/
errorShots
allure-report
allure-results
wdio-logs
//tests/acceptance/wdio/utilities/output
tests/acceptance_back
npm-debug.log
npm-debug.log.*
yarn.lock
yarn-error.log
lang/*.mo
.DS_Store
coverage/
.idea/
.idea/workspace.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
.vscode/
package-lock.json
