files:
  "/etc/awslogs/config/nodeapi.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [nodeapi_console]
      datetime_format = %Y-%m-%dT%H:%M:%S.%S%S%SZ
      file = /var/log/nodeapi/console*.log
      buffer_duration = 30000
      log_stream_name = {instance_id}
      initial_position = start_of_file
      log_group_name = `{"Fn::Join":["/", ["elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" },"console"]]}`

commands:
  "01":
    command: sudo chkconfig awslogs on
  "02":
    command: sudo service awslogs restart
